@charset "UFT-8";



*{
    padding: 0px;
    margin: 0px;
   
}

body{
    background-color: rgb(175, 175, 175);
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: rgb(102, 98, 98);
}
header h1 {
    padding: 10px; 
    text-align: center;  
}

span#lista{
    background-color: black;
    color: aliceblue;
    display: block;
    text-align: center;
    padding: 10px;
}
span#lista:hover {
    background-color: rgb(255, 253, 253);
    color: black;
    cursor: pointer;
}
menu{
    display: none;
}

    
menu > ul > li > a {
    text-decoration: none;
    color: white;
    background-color: black;
    display: block;
    text-align: center;
    border-top: 1px solid white;
    padding: 10px;
    
   }
   a:hover{
    background-color: azure;
    color: black;
   }

menu ul{
    list-style-type: none;
    text-align: center;
      
}
main{
    background-color: white;
    border-radius: 20px;
    width: 80vw;
    margin: auto;
    padding: 10px;
    text-indent: 10px;
    text-align: justify;
    line-height: 1.5em;
    margin-top: 10px;
}
